html {
    background: rgb(0, 0, 0);
    color: white;
    text-align: center;
    list-style-position: inside;
    font-family: sans-serif;
    #backbutton {
        display: block;
        text-align: left;
        color:white;
        
    }
    
}

ul {
    color: silver;
    font-style: italic;
}

.quote{
    font-size: small;
    font-style: oblique;
    opacity: .33;
}

.hidden{
    opacity: 0;
}